celery<4.0
docopt>=0.6.2,<0.7
Flask-Celery-Helper>=1.1.0,<1.2
Flask-Mail>=0.9.1,<0.10
Flask-Redis-Helper>=1.0.0,<1.1
Flask-Script>=2.0.5,<2.1
Flask-SQLAlchemy>=2.1,<2.2
Flask-Statics-Helper==1.0
Flask>=0.12,<0.13
PyYAML>=3.12,<3.13
requests>=2.13.0,<2.14
tornado>=4.4.2,<4.5
