{% from 'flash.html' import modal_alert, well_alert_navbar, well_alert %}

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/static/logo.svg" style="max-width:20px"> PyPi Portal</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
      {{ well_alert_navbar(flash_messages_well) }}
    </div>

  </div>
</div>
{{ well_alert(flash_messages_well) }}
{{ modal_alert(flash_messages_modal) }}
