{% extends 'base.html' %}

{% block container %}
    <div class="jumbotron">
        <h1>Flask Large Application Example</h1>
        PyPI Portal is a small demo app used as an example of a potentially large Flask application with several
        views and Celery tasks.
    </div>

    <p class="lead">
        This application doesn't do much. It runs a Celery task once a day to get all of the package names, summaries,
        and versions in PyPI and display them in a paginated table.
    </p>

    You can check that out in the <span class="label label-default">Packages</span> link in the Navbar above. You can find
    out more about this example in the <a href="https://github.com/Robpol86/Flask-Large-Application-Example"
    target="_blank">GitHub page</a>.

    <a href="https://github.com/Robpol86/Flask-Large-Application-Example" class="hidden-xs">
        <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1000"
             src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
             alt="Fork me on GitHub"
             data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
    </a>
{% endblock %}
